<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Important Information</h1>
<a href="/information/add/">Add Information</a>
<table>
    <thead>
    <tr>
        <th>File</th>
    </tr>
    </thead>
    <tr th:each="information : ${information}">
        <td>
            <p>
                <a th:href="@{'/information/' + ${information.id}}" th:text="${information.name}"></a>
            </p>
        </td>
    </tr>
</table>

</body>
</html>