<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>eBay Organizer</title>
</head>
<body>

<h1>Welcome to the eBay Organizer!</h1>

<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
</form>
<a href="/user/register">Click here to register</a>
</body>
</html>