<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
    <div><label>Username
        <input name="username" type="text">
    </label></div>
    <div><label>Password
        <input name="password" type="password">
    </label></div>
    <div><label>Verify Password
        <input name="password" type="password">
    </label></div>
    <div>
        <input type="submit">
    </div>
</body>
</html>