<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Create Listing</title>
</head>
<body>
<form name="createListing" method="post">

    <div><label>Name:
        <input th:field="${listing.name}" type="text"/>
    </label></div>
    <div><label>Description:
        <input th:field="${listing.description}" type="text"/>
    </label></div>
    <div><label>Price:
        <input th:field="${listing.price}" type="number"/>
    </label></div>
    <div><label>Shipping:
        <input th:field="${listing.shipping}" type="number"/>
    </label></div>
    
    <input type="submit"/>

</form>
</body>
</html>