<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Create Listing</title>
</head>
<body>
<form name="createListing" method="post">

    <div><label>Name:
        <input th:field="${listing.name}" type="text"/>
    </label></div>
    <div><label>Description:
        <input th:field="${listing.description}" type="text"/>
    </label></div>
    <div><label>Price:
        <input th:field="${listing.price}" type="number"/>
    </label></div>
    <div><label>Shipping:
        <input th:field="${listing.shipping}" type="number"/>
    </label></div>
    <div><label>Status:
        <th:block th:field="${listing.status}" onclick="currentStatus()">
        <select name="status" id="status">
            <option value="Future">Future</option>
            <option value="Currently Listed">Currently Listed</option>
            <option value="Sold">Sold</option>
        </select>
        </th:block>
    </label></div>
    <input type="submit"/>

</form>
<div>
    <a href="/listings/">Return to Listings</a>
</div>
</body>
</html>