<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Create Listing</title>
</head>
<body>
<form name="createListing" method="post">
    <div><label>Name:
        <input type="text"/>
    </label></div>
    <div><label>Description:
        <input type="text"/>
    </label></div>
    <div><label>Price:
        <input type="number"/>
    </label></div>
    <div><label>Shipping:
        <input type="number"/>
    </label></div>
    
    <input type="submit"/>
</form>
</body>
</html>