<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Listings</title>
</head>
<body class="container">

<h1>Listings</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Shipping</th>
        </tr>
    </thead>
    <tr th:each="listing : ${listings}">
        <td>
            <p>
                <a th:href="@{'/listings/view/' + ${listing.id}}" th:text="${listing.name}"></a>
            </p>
        </td>
        <td th:text="${listing.description}"></td>
        <td th:text="${listing.price}"></td>
        <td th:text="${listing.shipping}"></td>

    </tr>
</table>
<a href="listings/create">Create Listing</a>
</body>
</html>