<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Listings</title>
</head>
<body class="container">

<h1>Listings</h1>
<a href="/listings/create/">Create Listing</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tr th:each="listing : ${listings}">
        <td>
            <p>
                <a th:href="@{'/listings/view/' + ${listing.id}}" th:text="${listing.name}"></a>
            </p>
        </td>
        <td>
            <p th:text="${listing.status}"></p>
        </td>
    </tr>
</table>

</body>
</html>