<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1 th:text="${'Listing: ' + listing.name}"></h1>
<div>
    <p th:text="${'ID: ' + listing.id}"></p>
    <p th:text="${'Name: ' + listing.name}"></p>
    <p th:text="${'Description: ' + listing.description}"></p>
    <p th:text="${'Price: ' + listing.price}"></p>
    <p th:text="${'Shipping Cost: ' + listing.shipping}"></p>
    <p th:text="${'Status: ' + listing.status}"></p>
</div>
<div>
    <form onclick="updateStatus()">Update Status
    <th:block th:field="${listing.status}">
        <select name="status" id="status">
            <option value="Future">Future</option>
            <option value="Currently Listed">Currently Listed</option>
            <option value="Sold">Sold</option>
        </select>
    </th:block>
    </form>
</div>
<br>
<a href="/listings/">Return to Listings</a>
</body>
</html>